{% extends "layout.html"%}
{% block body %}
<div class="d-flex flex-column justify-content-center">
     <h1 id="contador" class="text-center fs-1 fw-bold">5</h1>
     <img src="/static/img/" alt="publicidad" style="border-radius: 100px;">
</div>
<script>
     function redirect(){
          const contador = document.getElementById("contador");
          let valor = 5;
          setInterval( () =>{
               if (valor > 0){
                    contador.innerHTML = valor -= 1;
               }else{
                    location.replace("{{ url }}")
               }
          }, 1000)
     }
</script>
{% endblock %}