{% extends "layout.html" %}     
     <div class="d-flex flex-column justify-content-center">
          <div class="d-flex justify-content-center">
            <img src="/static/img/" alt="Banner" srcset="" style="width: 60%;">
          </div>
          <div class=" card card-body p-5 mt-5" style="border-radius: 20px;">
               {% with nueva_url = get_flashed_messages() %}
               {%if not nueva_url %}
               <form action="{{ url_for('crear_enlace_corto')}}" method="POST">
               <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3" style="border-radius: 10px;">
                         Ingresa tu Link
                    </span>
                    <input type="text"
                    class="form-control ms-2"
                    style="border-radius: 10px;"
                    pattern="https?:\/\/(www\.)?[-a-ZA-Z0-9@:%._\+~#+]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)$"
                    title="Link no valido"
                    name='Inserta tu Link'
                    required/>
                    <button class="btn btn-primary" style ="border-radius: 10px">Cortar Link</button>

               </div>
               </form>
               {% else %}
               <div class="input-group mb-3">
                    <input id="nuevaURL"
                    type="text"
                    class="form-control ms-2"
                    style="border-radius:10px"
                    value="{{ nueva_url[0] }}"
                    />
               <button id="btnCopiar"
               onclick="copiarURL()"
               type="button"
               class="btn btn-outline-success ms-2"
               style="border-radius: 10px;">Copiar Link</button>
               </div>
               {% endif %}
               {% endwith % }
               </div>
          </div>
     <script>
          function copiarURL(){
               const nuevaURL = document.getElementById("nuevaURL");
               nuevaURL.select();
               nuevaURL.setSelectionRange(0,50);
               document.execCommand("copy")

               const btnCopiar = document.getElementById("btnCopiar");
               btnCopiar.innerHTML = "Link copiado";
               btnCopiar.classList.replace("btn-outline-success", "btn-success")

               setTimeout(()=>{
                    location.replace("{{ url_for('inicio') }}")
               }, 3000)
          }
     </script>
{% endblock %}